// General container rules:
#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 21%;
    transform: translateY(-50%);
  }
  //For Android
  .md {
    #container {
      text-align: center;
  
      position: absolute;
      left: 0;
      right: 0;
      top: 24.25%;
      transform: translateY(-50%);
    }
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  //Change we dont have p
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    //color: #8c8c8c;
    color: black;
  
    margin: 0;
  }
  //Links
  #container a {
    text-decoration: none;
  }
  
  //Adding customer style to ionic elements:
  
  /** Navbar **/
  ion-toolbar, ion-header {
      --background: var(--ion-color-primary);
  }
  /** Progress Bar **/
  ion-progress-bar {
    left: 4.5%;
    margin-bottom: 2rem;
    
    width: 93.5%;
  }
  /** Question 1 **/
  .question {
    ion-label {
      color: grey;
      font-size: 14px;
      font-family: var('Open-Sans-LightItalic');
  
      position: absolute;
      top: 0rem;
      bottom: 6rem;
      left: 10%;
    }
  }
  /** Title of the page **/
  .title {
    ion-label {
      --color: black;
      font-family: 'Open-Sans-SemiBold';
      font-size: var(--ion-font-size-header);
      width: 85%;
      text-align: left;
  
      position: absolute;
      top: 2rem;
      bottom: 4rem;
      left: 10%;
    }
  }
  /** List **/
  ion-list {
    position: inherit;
    margin-top: 28%;
    left: 0rem;
  
    //stretch to all the screen
    width: 100%;
    height: 50vh;
  }
