<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true" padding>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="title" size='12'>
          <ion-label>{{ title }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- Checkboxes-->
    <ion-list lines="none">
      <ion-item class="cbox-symptoms" *ngFor="let symptom of symptoms">
        <ion-label class="checkboxLabel">{{ symptom.value }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="symptom.isChecked" (ionChange)="selectedItem(symptom)"></ion-checkbox>
      </ion-item>
      <ion-item class="btn-group">
        <ion-button class="btn-next" size="medium" shape="round" (click)="dismiss()">{{ btnDone }}</ion-button>
    </ion-item>
    </ion-list>
  </div>
</ion-content>
