/** customized fonts family **/
@font-face {
    font-family: 'Source-Code-Pro-Light';
    src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Light.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source-Code-Pro-Regular';
    src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Source-Code-Pro-Medium';
    src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Thin';
    src: url("assets/fonts/Lato/Lato-Thin.ttf");
    font-weight: 200;
    font-style: normal;
}
/** predefinito per il ocntenuto **/
@font-face {
    font-family: 'Lato-Light';
    src: url("assets/fonts/Lato/Lato-Light.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url("assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans-LightItalic';
    src: url("assets/fonts/Open_Sans/OpenSans-LightItalic.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans-Light';
    src: url("assets/fonts/Open_Sans/OpenSans-Light.ttf");
    font-weight: 200;
    font-style: normal;
}
/** predefinito per i titoli **/
@font-face {
    font-family: 'Open-Sans-Regular';
    src: url("assets/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Open-Sans-SemiBold';
    src: url("assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
    font-weight: 200;
    font-style: normal;
}
